[submodule "JavaOSC"]
	path = JavaOSC
	url = git://github.com/hoijui/JavaOSC.git
[submodule "processing"]
	path = processing
	url = git://github.com/processing/processing.git
[submodule "TUIO11_JAVA"]
	path = TUIO11_JAVA
	url = https://github.com/segabor/TUIO11_JAVA.git
